<div>
  <!--begin notification-->
  @if (message()) {
    @if (status() == "success") {
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong> Congratulations!</strong> {{ message() }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    } @else if (status() == "error") {
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong> Congratulations!</strong> {{ message() }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    }
  }
  <!--end notification-->

  <!--begin table-->
  <div>
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th class="th-md">Id</th>
          <th class="th-md">Username</th>
          <th class="th-md">Email</th>
          <th class="th-md">Location</th>
        </tr>
      </thead>
      <tbody>
        @for (user of users(); track user.id) {
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.location }}</td>
          </tr>
        }
      </tbody>

      <tbody></tbody>
    </table>
  </div>
  <!--end table section-->
</div>
